@{section title}
首页
@{end}

<!--Chart-box-->
<div class="row-fluid">
  <div class="widget-box">
    <div class="widget-title">
      <span class="icon"><i class="icon-hand-right"></i></span>
<!--       <h5>首页说明</h5> -->
    </div>
    <div class="widget-content">
      <div class="alert alert-error alert-block">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h1 class="alert-heading">这是一个神奇的架构，欢迎你的使用~</h1>
      </div>

      <div class="alert alert-success">
        <button class="close" data-dismiss="alert">×</button>
        <p>
          <strong>当前版本：</strong> DataCenter 1.0.0
        </p>
        <p>
        <strong>版本基于：</strong>
        </p>
        <p>
          NodeJS 6.10.2<a href="https://nodejs.org">https://nodejs.org</a>
        </p>        
        <p>
          AdminLTE-2.3.11：<a href="https://almsaeedstudio.com/themes/AdminLTE/">https://almsaeedstudio.com/themes/AdminLTE/</a>
        </p>
        <p>
          Totaljs 2.4.0：<a href="https://www.totaljs.com">https://www.totaljs.com/</a>
        </p>        
      </div>
      <div class="alert alert-info">
        <button class="close" data-dismiss="alert">×</button>
        <strong>发布时间：</strong> 2017年4月
      </div>

      <div class="alert alert-success">
        <button class="close" data-dismiss="alert">×</button>
        <strong>问题反馈：</strong> 发邮件至<a href="mailto:jammyzhang@vipabc.com?subject=关于DataCenter&body=Hi Jammy:%0d%0a">jammyzhang@vipabc.com</a>
      </div>
            
    </div>
  </div>

</div>
<!--End-Chart-box-->