<!DOCTYPE html>
<html>
<head>
	@{meta}
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="format-detection" content="telephone=no"/>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="robots" content="all,follow" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">   


	@{css('bootstrap.min.css')}
	@{css('AdminLTE.min.css')}
	@{css('_all-skins.css')}

	@{css('jquery.alerts.css')}  

	@{js('jquery-2.2.3.min.js')}
	@{js('bootstrap.min.js')}
	@{js('app.min.js')}

	@{js('jquery.alerts.js')}
  
	<title>报表系统</title>
</head>
<body class="skin-blue sidebar-mini">
  <div class="wrapper">
    <!-- 上方头部 header.html -->
    @{view('/layoutbasic/header')}
    <!-- 左侧菜单 leftsidebar.html -->
    @{view('/layoutbasic/leftsidebar')}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          @{section('title')}
        </h1>
        <!-- Main content -->
        <section class="content">
          @{body}
        </section>
        <!-- /.content -->
    </div>

      <!-- 页脚 footer.html -->
      @{view('/layoutbasic/footer')}
  </div>
</body>
</html>