<!DOCTYPE html>
<html>
<head>
	@{meta}
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="format-detection" content="telephone=no"/>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="robots" content="all,follow" />

	@{css('bootstrap.min.css')}
	@{css('AdminLTE.min.css')}

	@{js('jquery-2.2.3.min.js')}

	<style>
		.icheck{
			margin-left: 30px;
		}
		.title{
			color: red;
		}
	</style>	

	<title>系统登录</title>
</head>
<body class="hold-transition login-page">
	@{body}
</body>
</html>